* {
    box-sizing: content-box;
}

html {
    height: 100%;
    /* allows body tag to take full height */
}

body {
    margin: 0 30px;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #444;
    color: #FFF;
}

p {
    text-align: center;
    font-weight: bold;
    font-family: Arial, san-serif;
    text-transform: uppercase;
}

.landing-wrapper {
    width: 99.9%;
    height: 500px;
    margin: 20px auto;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.landing-inner-content {
    background: #FFF;
    width: 4800px;
    height: 500px;
}

.box {
    position: relative;
    background: rgba(0, 50, 502, 0.3);
    width: 440px;
    height: 460px;
    margin: 20px 20px 0 0;
    float: left;
    overflow: hidden;
}

.box:first-of-type {
    margin-left: 20px;
}

.box:last-of-type {
    margin-right: 20px;
}

.box-content {
    background: #000;
    /*margin-left: auto;
  margin-right: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.box-content img {
    width: 100%;
}